@page "/generator"

@inject Blazored.LocalStorage.ILocalStorageService localStore


<svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>

    <symbol id="download" fill="currentColor" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
    </symbol>

    <symbol id="upload" fill="currentColor" viewBox="0 0 16 16">
        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
    </symbol>

    <symbol id="counterclockwise" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
    </symbol>

    <symbol id="cross" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
    </symbol>
</svg>




<div class="container">

    <div class="row">
        <div class="col">
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                <div>
                    Pokud si nejsi jistý, jak generování funguje, podívej se do návodu na <NavLink class="alert-link" href="/manual">této</NavLink> stránce.
                </div>
            </div>
        </div>
    </div>



    <div class="row">


        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-4">

            <h2>Vedoucí k dispozici <span>Dohromady @this._instructors.Count</span></h2>

            <div class="table-responsive">
                <table id="seznamVedoucich">
                    <tr class="bottomHigher">
                        <th>Id</th>
                        <th>Jméno</th>
                        <th>Nástup</th>
                        <th>Pohlaví</th>
                        <th>Aktivní</th>
                    </tr>
                    @foreach (var instructor in this._instructors.Where(instructor => instructor.ShowInList))
                    {
                        <tr>
                            <td>@instructor.Id</td>
                            <td style="background-color: @getColor(instructor.Id)">
                                @instructor.Name
                                <img src="@instructor.Photo" />
                            </td>
                            <td>@instructor.Year</td>
                            <td style="background-color: @womanColor(instructor.Woman)" @onclick="() => ChangeGenderInstructor(instructor.Id)"></td>
                            <td style="background-color: @activeColor(instructor.Active)" @onclick="() => ChangeActiveInstructor(instructor.Id)">
                                @if (this._instructors.Count(i => i.Active) == 12 && !instructor.Active)
                                {
                                    <input type="checkbox" disabled checked="@instructor.Active" />
                                }
                                else
                                {
                                    <input type="checkbox" checked="@instructor.Active" />
                                }

                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>


        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <h2>Mohou být spolu <span>Vybráno @this._instructors.Count(i => i.Active) instruktorů</span></h2>

            <div class="table-responsive">
                <table class="together">
                    <tr>
                        <td style="background-color: darkgrey">x</td>
                        @foreach (var instr in _instructorsActive)
                        {
                            <th style="background-color: @getColor(instr.Id)">
                                <div class="verticalTableHeader">@instr.Name</div>
                            </th>
                        }
                    </tr>

                    @foreach (var instr in _instructorsActive)
                    {
                        <tr>
                            <th style="background-color: @getColor(instr.Id)">@instr.Name</th>

                            @foreach (var instr2 in _instructorsActive)
                            {
                                if (instr.Id == instr2.Id)
                                {
                                    <td style="background-color: darkgrey">x</td>
                                }
                                else
                                {
                                    @if (_rules.Any(r => r.instructors.Contains(instr) && r.instructors.Contains(instr2) && !r.Together))
                                    {
                                        <td style="background-color: red" @onclick="() => AddRulePermit(instr, instr2)">@_together.Where(t => t.Instructors.Contains(instr) && t.Instructors.Contains(instr2)).Max(t => (int?)t.Year)</td>
                                    }

                                    else if (_rules.Any(r => r.instructors.Contains(instr) && r.instructors.Contains(instr2) && r.Together))
                                    {
                                        <td style="background-color: lime" @onclick="() => RemoveRule(instr, instr2)">@_together.Where(t => t.Instructors.Contains(instr) && t.Instructors.Contains(instr2)).Max(t => (int?)t.Year)</td>
                                    }

                                    else if (_together.Where(t => t.Instructors.Contains(instr) && t.Instructors.Contains(instr2)).Max(t => (int?)t.Year) > (DateTime.Now.Year - MinYears - 1))
                                    {
                                        @AddRuleAuto(instr, instr2)
                                        <td style="background-color: lightpink" @onclick="() => AddRule(instr, instr2)">@_together.Where(t => t.Instructors.Contains(instr) && t.Instructors.Contains(instr2)).Max(t => (int?)t.Year)</td>
                                    }
                                    else
                                    {
                                        <td @onclick="() => AddRule(instr, instr2)">@_together.Where(t => t.Instructors.Contains(instr) && t.Instructors.Contains(instr2)).Max(t => (int?)t.Year)</td>
                                    }

                                }

                            }

                        </tr>
                    }
                </table>
            </div>
            <br />

            <h3>Nastavení kombinačního algoritmu</h3>
            <div class="table-responsive">
                <table>
                    <tr style="background-color: @(boysAndGirlsCondition ? "white" : "red")">
                        <td>Každý tým musí obsahovat kluka a holku (@this._instructors.Count(i => i.Active && i.Woman) holek, @this._instructors.Count(i => i.Active && !i.Woman) kluků)</td>
                        <td style="padding: 0; width: 40px; height: 35.5px; ">
                            <div @onclick="BoyAndGirlSwitch" style="display:flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
                                <input type="checkbox" checked="@BoyAndGirl" />
                            </div>
                        </td>

                        <td style="background-color: red">
                            Pravidla bez sebe
                        </td>
                        <td style="background-color: red">
                            @this._rules.Count(r => !r.Together)
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>Vedoucí spolu nebyli minimálně <input type="number" min="0" max="10" @onchange="MinYearChange" value="@this.MinYears" /> rok/y/ů. </td>
                        <td style="background-color: lightpink">
                            Automatická pravidla
                        </td>
                        <td style="background-color: lightpink">
                            @this._rulesAuto.Count
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            Maximální čas generování <input type="number" min="1" max="60" @onchange="MaxComputeTime" value="@this._maxComputeTime" /> sekund.
                        </td>

                        <td style="background-color: lime">
                            Pravidla spolu
                        </td>
                        <td style="background-color: lime">
                            @this._rules.Count(r => r.Together)
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div style="margin-bottom: 10px">
                @if (@emptyLocalStorage)
                {
                    <div class="alert alert-warning" role="alert">
                        V úložišti prohlížeče se nenacházejí žádná data.
                    </div>
                }
                else
                {
                    <div class="alert alert-success" role="alert">
                        V úložišti prohlížeče se nacházejí data z @localStorageTime.ToShortDateString() @localStorageTime.ToShortTimeString().
                    </div>

                }


                <button class="btn btn-outline-success" @onclick="CalculateCombinations">Vygenerovat možnosti</button>

                <button class="btn btn-outline-primary" @onclick="SaveToLocalStorage">
                    <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#download" /></svg>
                    Uložit
                </button>

                <button class="btn btn-outline-primary" @onclick="LoadFromLocalStorage">
                    <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#upload" /></svg>
                    Načíst
                </button>

                <button class="btn btn-outline-danger" @onclick="ClearStorage">
                    <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#cross" /></svg>
                    Smazat data
                </button>

                <button class="btn btn-outline-warning" @onclick="OnInitialized">
                    <svg class="bi flex-shrink-0 me-2" width="16" height="16" role="img" aria-label="Info:"><use xlink:href="#counterclockwise" /></svg>
                    Začít znovu
                </button>
            </div>

        </div>
    </div>
    <br />
    <div class="row my-block">
        <div class="col">
<h2>Vygenerované kombinace</h2>
            @if (this.ComputationError)
            {
                <div class="alert alert-danger" role="alert">
                    @this.ComputationErrorMessage
                </div>
            }
            else if (timeExcited)
            {
                <div class="alert alert-warning" role="alert">
                    Generování překročilo maximální povolený čas (@this._maxComputeTime sekund). Výsledek nemusí být úplný.
                    
                    Nalezeno @_possibleCombinations.Count výsledků za @_possibleCombinationsTimeMs milisekund.
                </div>
            }
            else if (_possibleCombinationsTimeMs != 0 && _possibleCombinations.Count == 0)
            {
                <div class="alert alert-warning" role="alert">
                    Nalezeno @_possibleCombinations.Count výsledků za @_possibleCombinationsTimeMs milisekund.
                </div>
            }
            else if (_possibleCombinationsTimeMs != 0)
            {
                <div class="alert alert-success" role="alert">
                    Nalezeno @_possibleCombinations.Count výsledků za @_possibleCombinationsTimeMs milisekund.
                </div>
            }

            <div class="table-responsive">
                <table id="generovaniVedouci">
                    <tr>
                        <th title="Tooltip on top">Rok</th>
                        <th colspan="4">První tým</th>
                        <th colspan="4">Druhý tým</th>
                        <th colspan="4">Třetí tým</th>
                        <th colspan="4">Čtvrtý tým</th>
                    </tr>

                    @foreach (var combination in this._possibleCombinations)
                    {
                        <tr>
                            <td @onclick="() => ToggleCombination(combination)">
                                @DateTime.Now.Year
                                <input type="checkbox" checked="@_savedCombinations.Any(team => team.Fingerprint == combination.Fingerprint)" />
                                <div class="teamLook">
                                    @foreach (var team in combination.Together)
                                    {
                                        <div class="hoverTeam">
                                            @foreach (var instructor in team.Instructors)
                                            {
                                                <img src="@instructor.Photo" class="avatar" alt="@instructor.Name" />
                                            }
                                        </div>
                                    }
                                </div>


                            </td>
                            @foreach (var team in combination.Together)
                            {
                                @foreach (var instructor in team.Instructors)
                                {
                                    <td style="background-color: @getColor(instructor.Id); border-top: 4px solid @womanColor(instructor.Woman)">
                                        @instructor.Name

                                    </td>
                                }
                                @for (int i = 0; i < 3 - team.Instructors.Count; i++)
                                {
                                    <td></td>
                                }

                                <td></td>

                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="row my-block">
        <div class="col">
            <h2>Připnuté kombinace</h2>

            <div class="table-responsive">
                <table id="generovaniVedouci">
                    <tr>
                        <th title="Tooltip on top">Rok</th>
                        <th colspan="4">První tým</th>
                        <th colspan="4">Druhý tým</th>
                        <th colspan="4">Třetí tým</th>
                        <th colspan="4">Čtvrtý tým</th>
                    </tr>

                    @foreach (var combination in this._savedCombinations)
                    {
                        <tr>
                            <td @onclick="() => ToggleCombination(combination)">
                                @DateTime.Now.Year
                                <input type="checkbox" checked="@_savedCombinations.Any(team => team.Fingerprint == combination.Fingerprint)" />
                                <div class="teamLook">
                                    @foreach (var team in combination.Together)
                                    {
                                        <div class="hoverTeam">
                                            @foreach (var instructor in team.Instructors)
                                            {
                                                <img src="@instructor.Photo" class="avatar" alt="@instructor.Name" />
                                            }
                                        </div>
                                    }
                                </div>


                            </td>
                            @foreach (var team in combination.Together)
                            {
                                @foreach (var instructor in team.Instructors)
                                {
                                    <td style="background-color: @getColor(instructor.Id); border-top: 4px solid @womanColor(instructor.Woman)">
                                        @instructor.Name

                                    </td>
                                }
                                @for (int i = 0; i < 3 - team.Instructors.Count; i++)
                                {
                                    <td></td>
                                }

                                <td></td>

                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <h2>Aktivní roky</h2>

            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Rok</th>
                            <th colspan="4">První tým</th>
                            <th colspan="4">Druhý tým</th>
                            <th colspan="4">Třetí tým</th>
                            <th colspan="4">Čtvrtý tým</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var year in this._together.Select(t => t.Year).Distinct().OrderByDescending(t => t))
                        {
                            <tr>
                                <td>@year</td>

                                @foreach (var together in this._together.Where(t => t.Year == year).OrderBy(t => t.TeamNubmer))
                                {
                                    @foreach (var instructor in together.Instructors.OrderBy(i => i.Id))
                                    {
                                        <td style="background-color: @getColor(instructor.Id)">@instructor.Name</td>
                                    }

                                    @if (together.Instructors.Count == 2)
                                    {
                                        <td></td>
                                    }
                                    <td></td>
                                }


                            </tr>
                            <tr>
                                <td colspan="17"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



    </div>
    <div style="height:100px;">
    </div>
</div>

